<div *ngIf="products.length <= 0">
    <h2>Nothing to see here</h2>
    <p>Your cart seems to be empty!</p>
    <a routerLink="">← Start shopping!</a>
</div>

<div *ngIf="products.length > 0" id="checkout-container">
    <div>
        <h1>Your Information</h1>
        <div class="personal-info">
            <h3>Personal Info</h3>
            <p style="font-weight: bold">{{ first_name }} {{ last_name }}</p>
            <p>{{ email }}</p>
            <p>{{ address }}</p>
            <p>{{ city }}, {{ zip_code }}</p>
            <p>{{ country }}</p>
        </div>
        <div class="payment-info"></div>
        <h3>Payment Info</h3>
        <p>Credit Card:</p>
        <p>{{ card_number }}</p>
        <div class="cost-summary"></div>
        <h3>Cost Summary</h3>
        <p></p>
        <p style="font-weight: bold">Total: {{ total }}</p>
    </div>
    <div>
        <h1>Your Order</h1>
        <app-cart-item class="cart-items" *ngFor="let product of products" [product]="product" [changeable]="false"></app-cart-item>
    </div>
</div>
