.back-link {
    margin-top: 16px;
}

#cart-container {
    display: grid;
    grid-template-areas: "cart checkout";
    grid-template-columns: 65% 25%;
    justify-content: space-evenly;
    margin-bottom: 64px;
}

.content-container {
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    height: max-content;
}

#cart-overview {
    grid-area: cart;
    display: flex;
    flex-direction: column;
}

#total {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-items: center;
    align-items: center;
    font-weight: bold;
}

#total p {
    grid-column: 5;
}

#total * {
    margin: 0;
}

#checkout {
    grid-area: checkout;
}

#checkout-form {
    padding-left: 15px;
}

#empty-cart {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: auto;
}

h1 {
    margin-bottom: 16px;
}

input {
    width: 90%;
    border-radius: 15px;
    padding-left: 10px;
}

label span {
    color: red;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
    background-color: rgb(255, 198, 198);
}