<div id="empty-cart" class="content-container" *ngIf="products.length <= 0">
    <h1>Nothing to see here</h1>
    <p>Your cart seems to be empty!</p>
    <a class="back-link" routerLink="">← Start shopping!</a>
</div>

<div *ngIf="products.length > 0" id="cart-container">
    <div id="cart-overview" class="content-container">
        <h1>Your Cart 🛒</h1>
        <div *ngFor="let product of products; index as index">
            <app-cart-item class="cart-items" [product]="product"></app-cart-item>
            <hr *ngIf="index < (products.length-1)">
        </div>
    </div>
    <div id="checkout" class="content-container">
        <h1>Checkout</h1>
        <form id="checkout-form" #form="ngForm" (ngSubmit)="onSubmit()">
            <h3>Credit Card Details</h3>
            <label for="email">E-Mail</label><br>
            <input type="email" name="email" [(ngModel)]="email" placeholder="E-Mail" required /><br><br>
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" [(ngModel)]="first_name" placeholder="First Name" required
                minlength="2" /><br><br>
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" [(ngModel)]="last_name" placeholder="Last Name" required
                minlength="2" /><br><br>
            <label for="card_number">Card Number</label><br>
            <input type="text" name="card_number" [(ngModel)]="card_number" placeholder="Card Number" required
                minlength="15" maxlength="20" /><br><br>
            <label for="cvc">CVC</label><br>
            <input type="text" name="cvc" [(ngModel)]="cvc" placeholder="CVC" required minlength="3"
                maxlength="3" /><br><br>
            <h3>Billing Address</h3>
            <label for="address">Address</label><br>
            <input type="text" name="address" [(ngModel)]="address" placeholder="Address" required
                minlength="5" /><br><br>
            <label for="zip_code">Zip Code</label><br>
            <input type="text" name="zip_code" [(ngModel)]="zip_code" placeholder="Zip Code" required
                minlength="5" /><br><br>
            <label for="city">City</label><br>
            <input type="text" name="city" [(ngModel)]="city" placeholder="City" required minlength="3" /><br><br>
            <label for="country">Country</label><br>
            <input type="text" name="country" [(ngModel)]="country" placeholder="Country" required
                minlength="2" /><br><br>
            <button type="Submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>