<div class="cart-item-container">
    <img alt="{{product.name}}" src={{product.url}} />
    <h3>{{ product.name }}</h3>
    <p>${{ product.price }}</p>
    <div *ngIf="changeable">
        <label for="amount">Amount:</label><br>
        <select [(ngModel)]="amount" title="amount" name="amount" (ngModelChange)="onChange(); itemChanged.emit()">
            <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
        </select>
    </div>
    <p *ngIf="!changeable">Amount:<br>{{ product.amount }}</p>
    <p id="price-total">${{ product.total }}</p>
</div>